@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219 67% 99%;
    --foreground: 219 54% 3%;
    --muted: 0 13% 88%;
    --muted-foreground: 0 14% 34%;
    --popover: 219 67% 99%;
    --popover-foreground: 219 54% 3%;
    --card: 219 67% 99%;
    --card-foreground: 219 54% 3%;
    --border: 219 14% 90%;
    --input: 219 14% 90%;
    --primary: 219 68% 36%;
    --primary-foreground: 219 68% 96%;
    --secondary: 0 0% 87%;
    --secondary-foreground: 0 0% 27%;
    --accent: 0 0% 87%;
    --accent-foreground: 0 0% 27%;
    --destructive: 13 96% 22%;
    --destructive-foreground: 13 96% 82%;
    --ring: 219 68% 36%;
    --chart-1: 219 68% 36%;
    --chart-2: 0 0% 87%;
    --chart-3: 0 0% 87%;
    --chart-4: 0 0% 90%;
    --chart-5: 219 71% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 219 31% 1%;
    --foreground: 219 39% 99%;
    --muted: 0 13% 12%;
    --muted-foreground: 0 14% 66%;
    --popover: 219 31% 1%;
    --popover-foreground: 219 39% 99%;
    --card: 219 31% 1%;
    --card-foreground: 219 39% 99%;
    --border: 219 14% 12%;
    --input: 219 14% 12%;
    --primary: 219 68% 36%;
    --primary-foreground: 219 68% 96%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 74%;
    --accent: 0 0% 14%;
    --accent-foreground: 0 0% 74%;
    --destructive: 13 96% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 219 68% 36%;
    --chart-1: 219 68% 36%;
    --chart-2: 0 0% 14%;
    --chart-3: 0 0% 14%;
    --chart-4: 0 0% 17%;
    --chart-5: 219 71% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
